<h1>Orbit Report</h1>
<app-orbit-list [satellites]="sourceList"></app-orbit-list>
<app-orbit-list [satellites]="displayList[app-orbit-list]"></app-orbit-list>
<!-- <div class ="search-form">
	<input #searchTerm type ="text"(keyup.enter)="search(searchTerm.value)"/>
	<button (click)="search(searchTerm.value)">search</button>
</div> -->

<table>
	
	
	<tr *ngFor ="let satellite of satellites" [class.warning]="satellite.shouldShowWarning()" [class.stripe]="satellite.zebraStripe(satellites)">
		<td>{{satellite.name}}</td>
		<td [class.warning]="satellite.shouldShowWarning()">{{satellite.type}}</td>
		<td>{{satellite.operational}}</td>
		<td>{{satellite.orbitType}}</td>
		<td>{{satellite.launchDate}}</td>
	 </tr>
</table>
<div class="search-form">
	Search: <input #searchTerm type="text" placeholder="Enter search term"(keyup.enter)="search(searchTerm.value);" />
	<button class="button"(click)="search(searchTerm.value)">Search</button>
</div>

<app-orbit-counts [satellites]="displayList"></app-orbit-counts>

<!-- TODO 1: add list component to app HTML -->
